/* ============================================= */
/*              Colours                       */
/* ============================================= */

$primary-text: #777;
$primary-headline: #58e1c1;
$color-white: #fff;
$color-frame: #ccc;
$color-link: #51ddfc;


/* ============================================= */
/*              Breakpoints                       */
/* ============================================= */

$break-s: 768px;